* {
  margin: 0;
  padding: 0;
}

/* Estilos básicos para o menu */
.miappmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f6f5f4;
  display: flex;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 7px;
}

.miappmenu ul {
  list-style: none;
}

/* Estilos para os itens do menu */
.miappmenu li {
  position: relative;
}

.miappmenu hr {
  border-color: #e2e2e2;
  border-width: 1;
  border-style: ridge;
}

.miappmenu li a {
  display: block;
  padding: 9px;
  text-decoration: none;
  color: #2e2e2e;
  border-right: 1px solid #f6f5f4;
}

.miappmenu li:last-child a {
  border-right: none;
}

/* Estilos para submenus */
.miappmenu ul {
  display: none;
  position: absolute;
  background-color: #f6f5f4;
}

.miappmenu li:hover {
  background-color: #7bb0ff;
}

.miappmenu li:hover>ul {
  display: block;
  width: 200px;
}

/* Estilos para submenus aninhados */
.miappmenu ul ul {
  left: 100%;
  top: 0;
}

/* Estilos para o último nível de submenus */
.miappmenu ul ul ul {
  left: 0;
  top: 0;
}

.miappmenukey {
  float: right;
  position: absolute;
  right: 17px;
  color: #747474
}

/* Menu Contexto */
#miappcontextmenu {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px 0;
  z-index: 1000;
  display: none;
  font-size: 17px;
  font-weight: normal;
}

#miappcontextmenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#miappcontextmenu li {
  padding: 8px 15px;
  cursor: pointer;
}

#miappcontextmenu li:hover {
  background-color: #e9e9e9;
}

#miappcontextmenu hr {
  border-color: #e2e2e2;
  border-width: 1;
  border-style: ridge;
}